$white: #FDF6E3;
$blue: #268BD2;
$red: #DC322F;
$green: #859900;

html, body {
  margin: 0;
  padding: 0;
  font: 300 16px/1.44 'Fira Sans', 'Helvetica', sans-serif;
}

body {
  color: #586E75;
  background-color: $white;
}

h1, h2, h3, h4 {
  font-family: 'Fira Mono', 'Fira Sans', 'Helvetica', sans-serif;
  text-align: center;
  color: #073642;
}

h3 {
  font-size: 24px;
}

section {
  margin-bottom: 3em;
}

a {
  display: inline-block;
  color: $blue;
  text-decoration: none;

  &:after {
    background-color: $blue;
    display: block;
    content: '';
    height: 1px;
    width: 0;
    margin: -2px auto 0;

    transition: width 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

em {
  font-style: normal;
  color: $red;
}

.page {
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 64px 0;
}

.title {
  & > img {
    width: 360px;
    height: 40px;
  }
}

.slogan {
  margin-top: -.75em;
  text-align: center;
}

.pecha {
  box-sizing: content-box;
  width: 100%;
  margin-left: -30px;
  padding: 30px;
  color: $white;
  background-color: $green;

  & h3 {
    margin-top: 0;
  }

  & a {
    color: #FBC533;

    &:after {
      background-color: #FBC533;
    }
  }

  footer {
    padding-top: 7px;
    text-align: center;
  }

  .button {
    display: inline-block;
    margin: 0 auto;
    padding: 12px 20px;
    font-family: 'Fira Mono', 'Fira Sans', 'Helvetica', sans-serif;
    color: inherit;
    background-color: $red;
    text-align: center;
    transition: background-color 0.3s;

    &:hover {
      // background-color: lighten($red, 10%);
      background-color: #FF4D18;
    }

    &:after {
      display: none;
      content: none;
    }
  }
}

.guests {
  margin-top: 2em;
  text-align: center;
}

.guest {
  $photo-size: 80px;
  $photo-border-width: 2px;
  $label-size: $photo-size + 2 * $photo-border-width;

  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 19.5%;
  min-width: 180px;
  height: 134px;
  margin-bottom: 24px;
  font: 300 12px/1.5 'Fira Mono', 'Fira Sans', 'Helvetica', sans-serif;
  text-align: center;
  color: #586E75;

  & > label {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    display: block;
    width: $label-size;
    height: $label-size;
    margin-left: -($label-size / 2);
    border-radius: $label-size / 2;
    opacity: 0;
    cursor: pointer;
  }

  & > input[type=checkbox] {
    display: none;
  }

  &-photo {
    width: $photo-size;
    height: $photo-size;
    border-radius: $photo-size / 2;
    border: $photo-border-width solid #979797;
    transition: transform 0.3s;
    user-select: none;
  }

  & > input[type=checkbox]:checked + &-photo {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}
