/*
color:
#446455 — green
#D3DDDC - light
#FDD262 - yellow
#C7B19C - creme
*/

$text-color = #201A02;
$background-color = #715A38;
$active-color = #89B151;
$normal-shadow = 0 2px 5px 0 rgba(0, 0, 0, 0.16),
                 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$hover-shadow = 0 5px 11px 0 rgba(0, 0, 0, 0.18),
                0 4px 15px 0 rgba(0, 0, 0, 0.15);

html,
body {
    font: 300 18px/1.4 'Roboto', Helvetica, Arial, sans-serif;
    width: 100%;
    height 100%;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: $background-color;
}

h1 {
    font-size: 4.2rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    font-weight: 300;
    color: $text-color;
}

h2 {
    font-weight: 300;
}

p {
    margin: 1rem 0;
}

.page {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    max-width: 750px;
    margin 3em auto;
    padding: 1rem 3rem;
    background-color: #fff;
    box-shadow: $normal-shadow;
    border-radius: 2px;
}

.description {
    margin-left: 154px;
    margin-bottom: 1.68rem;
}

.schedule {
    float: left;
    display: inline-block;
    margin: 4px auto 1rem;
    padding: 14px 12px 12px;
    border: 1px solid $text-color;
    text-transform: uppercase;
    text-align: center;
}

.date,
.time,
.location {
    font-weight: 400;
    display: block;
    line-height: 1.2;
    
}
    
.date {
    font-size: 23px;
    letter-spacing: -0.6px;
}

.time {
    font-weight: 700;
    font-size: 31px;
    letter-spacing: 3.8px;
}

.location {
    font-size: 28px;
}

form, fieldset {
    width: 100%;
}

fieldset {
    border: none;
    padding: 0;
}

input,
textarea {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    transition-property: border-color, box-shadow;
    transition-duration: .2s;

    &:focus {
        outline: none;
    }
}

input[type=text],
textarea {
    width: 100%;
    border-width: 0 0 1px 0;
    border-color: $text-color;

    &:focus {
        border-color: $active-color;
        box-shadow: 0 1px 0 0 $active-color;
    }
}

input[type=text] {
    height 3rem;
}

input[type=submit] {
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    padding 12px 24px;
    background-color: #FDD262;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    cursor: pointer;
    box-shadow: $normal-shadow;

    &:hover {
        box-shadow: $hover-shadow;
    }

    &:active {
        box-shadow: none;
    }
}

textarea {
    margin-top: 1rem;
}





